*{
    margin:0;
    padding:0;
}
div{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    height:60px;
nav{
    position: sticky;
}
    
}
a{
    text-decoration: none;
    color: white;
    text-align: right;
}
#LOGO{
color:orange;
text-align:left;
margin-right: 100px;
font-size: 25px;
}
.abc{
    margin-right:200px;
    width:20px
}
button{
    background-color: yellow;
}
.ncs{
    margin-left:200px;
}